.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-instance {
    
    background-color: #ad913e;
    color: white;
    padding: 20px 40px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Agrega estilos adicionales según sea necesario para diferentes variantes */
.primary {
    background-color: blue;
}

.secondary {
    background-color: red;
}