/* Estilos para la barra de navegación */

/* Estilos para la barra de navegación */
.bg-transparent {
    background-color: transparent !important;
}

.position-relative {
    position: relative;
    /* Asegúrate de que el Navbar tenga un position */
}


.navbar {
    z-index: 1000;
    /* Ajusta el z-index para que esté por encima del contenido del hero */
}