/* Estilos para la barra de navegación */

/* Estilos para la barra de navegación */
.bg-transparent {
    background-color: transparent !important;
}

.position-relative {
    position: relative;
    /* Asegúrate de que el Navbar tenga un position */
}


.navbar {
    z-index: 1000;
    /* Ajusta el z-index para que esté por encima del contenido del hero */
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    align-items: start !important;
    justify-items: start !important;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color:white !important;
    background-color: hwb(45 21% 30%) !important;
    border-color: var(--bs-btn-active-border-color);
}