/* src/pages/home.css */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: -1;
    height: 100vh;
    /* Ajustar la altura para que ocupe toda la ventana */
}

.hero-image-container {
    position: absolute;
    /* Cambiar a position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/1200x/c1/c6/7a/c1c67afc938adb90b6ab219fa7ebda65.jpg');
    background-size: cover;
    background-position: center;
}
.hero h1 {
    font-size: 3rem;
    /* App name Font size */
    justify-content: center;
    align-items: center;
    margin-top: 120px ;
    /* Space between app name y slogan */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    /* slogan font size */
}

.home-container {
    text-align: center;
    padding: 0px;
    width: 100%;
    
}