/* src/pages/home.css */
.home-container {
    text-align: center;
    padding: 20px;
}

.hero {
    background-image: url('https://i.pinimg.com/1200x/c1/c6/7a/c1c67afc938adb90b6ab219fa7ebda65.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    /* hero height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* text color in high contrast with bg image */
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    /* App name Font size */
    margin-bottom: 20px;
    /* Space between app name y slogan */
}

.hero p {
    font-size: 1.2rem;
    /* slogan font size */
}