/* src/pages/home.css */
/* .home-container {
    text-align: center;
    padding: 0px;
    min-height: 70vh;
} */

/* hero height */
 /* text color in high contrast with bg image */
 /* Ajuste para position relative */
/* .hero {
    background-image: url('https://i.pinimg.com/1200x/c1/c6/7a/c1c67afc938adb90b6ab219fa7ebda65.jpg');
    background-size: cover;
    background-position: center;
    height: 530px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    text-align: center;
    min-height: 0vh;
    min-width: 0vw;
    position: relative;

    z-index: -1;
} */
/* App name Font size */
/* Space between app name y slogan */
/* .hero h1 {
    font-size: 3rem;

    margin-bottom: 20px;

} */

/* slogan font size */

/* .hero p {
    font-size: 1.2rem;
} */

/* src/pages/home.css */
/* .home-container {
    text-align: center;
    padding: 0px;
    min-height: 70vh;
} */

/* Estilos para el hero */
/* Estilos para el hero */
.hero {
    min-height: 78vh;
    /* hero height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* text color in high contrast with bg image */
    /* text-align: center; */

    /* z-index: -1; */
}

.hero-image-container {
    position: absolute;
    /* Ajuste para position relative */
    background-image: url('https://i.pinimg.com/1200x/c1/c6/7a/c1c67afc938adb90b6ab219fa7ebda65.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
   /* width: 100%; */
}

.hero h1 {
    font-size: 3rem;
    /* App name Font size */
    justify-content: center;
    align-items: center;
    margin-top: 220px ;
    /* Space between app name y slogan */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    /* slogan font size */
}

.home-container {
    text-align: center;
    padding: 0px;
    width: 100%;
    height: 100%;
}