/* carrousel.css */
.carousel-container {
    justify-content: center;
    min-width: auto;
    display: flex;
    margin-top: 57px;   
    padding-bottom: 0;  
    
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 10px;
}

/* Cambiar el color de la flecha en estado hover */
.carousel-control-prev-icon:hover {
    filter: brightness(1.5);
    /* Ajusta el brillo para hacerla más blanca */
}

.carousel-control-next-icon:hover {
    filter: brightness(1.5);
    /* Ajusta el brillo para hacerla más blanca */
}

.transparent-bg {
    background-color: transparent;
}