/* CityDetail.css */

.city-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
}

.city-detail-container img {
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.city-detail-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.city-detail-container p {
    font-size: 18px;
    margin-bottom: 20px;
}

.back-button {
    display: inline-flex;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.under-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under-construction img {
    width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.under-construction p {
    font-size: 32x;
    color: rgb(251, 255, 0);
}

.city-detail-container {
    position: relative;
    /* Agregar posición relativa para que los elementos internos puedan ser posicionados con respecto a este contenedor */
    /* ... (otros estilos) */
}

.watermark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* Fondo semitransparente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* Coloca la marca de agua encima de la imagen */
    pointer-events: none;
    /* Evita que la capa bloqueé los eventos del mouse */
}

.watermark-text {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}

/* ESTA PARTE ES SOLO ARA EL MOVIMIENTO DE LA FOTO UNDER CONSTRUCTION */
a {
    text-decoration: none;
    color: #ecf0f1
}

.acerca_img {
    display: inline-block;
    width: 400px;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    animation: jittery 3s infinite;
    cursor: pointer;
    position: fixed;
    transition: .2s ease-in-out;
    margin: 2rem
}

.acerca_img:hover {
    animation: heartbeat .2s infinite
}

.acerca_img:nth-of-type(1) {}

.acerca_img:nth-of-type(2) {}

input[type=checkbox]:checked~.c-information p {
    color: #000
}

input[type=checkbox]:checked~.c-information small {
    color: #5e17eb
}

@keyframes jittery {

    5%,
    50% {
        transform: scale(1)
    }

    10% {
        transform: scale(.9)
    }

    15% {
        transform: scale(1.15)
    }

    20% {
        transform: scale(1.15) rotate(-5deg)
    }

    25% {
        transform: scale(1.15) rotate(5deg)
    }

    30% {
        transform: scale(1.15) rotate(-3deg)
    }

    35% {
        transform: scale(1.15) rotate(2deg)
    }

    40% {
        transform: scale(1.15) rotate(0)
    }
}