/* Footer.css */
footer {    
    color: #fff;
    padding: 0px;
    margin: 0px;    
    text-align: center;
    align-items: center;
    min-height: 15vh; 
    min-width: 100vw;
    width: 100%;
}

.position-relative {
    position: relative;
}